@*@model RopeyDVD.Models.Member *@

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Member Name
        </dt>
        <dd class = "col-sm-10">
            @(ViewBag.Member.MemberFirstName + " " + ViewBag.Member.MemberLastName)
        </dd>
        <dt class = "col-sm-2">
            Member Date of Birth
        </dt>
        <dd class = "col-sm-10">
            @(ViewBag.Member.MemberDOB)
        </dd>
        <dt class = "col-sm-2">
            Member Address
        </dt>
        <dd class = "col-sm-10">
            @(ViewBag.Member.MemberAddress)
        </dd>
    </dl>
</div>
<h4>
    Loans taken by this member in last 31 Days
</h4>
<table class="table">
    <thead>
        <tr>
            <th>Loan Number</th>
            <th>Copy Number</th>
            <th>DVD Title</th>
            <th>Date Out</th>
            <th>Date Returned</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Loan</td>
                <td>@item.CopyNumber</td>
                <td>@item.Title</td>
                <td>@item.DateOut</td>
                <td>@item.DateReturn</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
