@*model RopeyDVD.Models.Member*@

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Details";
}

<div class="card p-5 col-lg-9 col-12 mx-auto mb-5">
    <h1 class="text-center">Details Member</h1>

    <div>
        <h4>Member Details</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-4">
                Member Name
            </dt>
            <dd class = "col-sm-8">
                @(ViewBag.Member.MemberFirstName + " " + ViewBag.Member.MemberLastName)
            </dd>
            <dt class = "col-sm-4">
                Member Date of Birth
            </dt>
            <dd class = "col-sm-8">
                @(ViewBag.Member.MemberDOB)
            </dd>
            <dt class = "col-sm-4">
                Member Address
            </dt>
            <dd class = "col-sm-8">
                @(ViewBag.Member.MemberAddress)
            </dd>
        </dl>
    </div>
    <div class="col-12 col-md-4">
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</div>
<div class="my-5">
    <hr class="my-5"/>
    <h1 class="text-center mb-5">
        Loans taken by this member in the last 31 Days
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Loan Number</th>
                <th>Copy Number</th>
                <th>DVD Title</th>
                <th>Date Out</th>
                <th>Date Returned</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Loan</td>
                    <td>@item.CopyNumber</td>
                    <td>@item.Title</td>
                    <td>@item.DateOut</td>
                    <td>@item.DateReturn</td>
                </tr>
            }
        </tbody>
    </table>
<<<<<<< HEAD
    <hr class="my-5"/>
</div>
  
=======
</div>

>>>>>>> a24a6a43008c36be8340fc4e298d7f081d60bc2c
