@model RopeyDVD.Models.Member

@{
    ViewData["Title"] = "Details";
}

<div class="card p-5 col-lg-9 col-12 mx-auto">
    <h1 class="text-center">Details Member</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.MemberLastName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MemberLastName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.MemberFirstName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MemberFirstName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.MemberAddress)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MemberAddress)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.MemberDOB)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MemberDOB)
            </dd>
        </dl>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.MemberNumber">Edit</a> |
        </div>
        <div class="col-12 col-md-4">
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
