@*@model IEnumerable<RopeyDVD.Models.Members>*@
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "History";
}

<div class="row">
    <div class="col-md-10 col-12">
        <h1>History</h1>
        <p class="txt-secondary">History of DVDs loaned by the selected member</p>
    </div>
    <div class="col-md-2 col-12">
        <a class="btn btn-primary" asp-area="" asp-controller="Members" asp-action="SelectMember">Search</a>
    </div>
</div>
@if(ViewBag.NoData != null)
{
    <h3>@ViewBag.NoData</h3>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                MemberNumber
            </th>
            <th>
               DVD Number
            </th>
            <th>
               Title 
            </th>
            <th>
                DVD Returned?
            </th>
            <th>
                Copy Number
            </th>
        </tr>
    </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.MemberNumber</td>
            <td>@item.DVDNumber</td>
            <td>@item.Title</td>
            <td>@if (item.dateReturned == null)
                    {
                        @Html.Encode("No")
                    }
                    else {
                        @Html.Encode("Yes")
                    }</td>
            <td>@item.CopyNumber</td>
            </tr>
        }
    </tbody>
    </table>

}