@model IEnumerable<RopeyDVD.Models.Actor>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Index";
}

<div class="row mx-auto mb-4">
    <div class="col-md-9 col-12">
        <h1>Actor</h1>
    </div>
    <div class="col-md-3 col-12">
        <p>
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </p>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActorSurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorFirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActorSurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorFirstName)
            </td>
            <td>
                <a class="btn edit" asp-action="Edit" asp-route-id="@item.ActorNumber">Edit</a>
                <a class="btn details" asp-action="Details" asp-route-id="@item.ActorNumber">Details</a>
                <a class="btn delete" asp-action="Delete" asp-route-id="@item.ActorNumber">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
